---
---
@import "{{ site.theme }}";

/* Targeting the specific ID you found */
#header {
    display: none !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

section, .wrapper, #content {
    margin-top: 0 !important;
    padding-top: 20px !important; /* Adjust this number to your liking */
}

body {
    padding-top: 0 !important;
}

span, .credits.left, .credits.right {
    display: none !important;
}

section, #title {
    margin: 0 !important;
}
