---
---
@import "{{ site.theme }}";

/* Targeting the specific ID you found */
#header {
    display: none !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
